<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="~{partials/partials :: head}"></th:block>
    <title>Comments</title>
</head>
<body class="d-flex flex-column" id="gradient">
<nav class="pb-3" th:replace="~{/partials/partials :: navbar}" ></nav>
    <h1 class="page-title mx-auto mt-4" style="font-weight: bold">Comments</h1>

    <div class="container d-flex flex-column flex-grow-1">
        <div class="alert alert-danger" th:if="${errMsg}">
            Something bad happened!
        </div>
        <div class="row h-100 d-flex justify-content-center align-items-center my-auto pb-3" sec:authorize="isAuthenticated()">
            <div class="col-sm-12 col-md-6 g-3">
                <div class="card comment-card h-100">
                    <div class="card-bg opacity-50"></div>
                    <div class="card-body d-flex flex-column">
                        <div class="d-flex">
                            <image style="height:60px; width:60px;" class="rounded-circle me-2" th:src="${post.user.image}"></image>
                            <h3 class="card-title pt-1 my-auto" th:text="${post.title}">(insert post title)</h3>
                        </div>
                        <div class="blog-article py-1 ms-2" th:text="${post.body}">(insert post body)</div>
                        <div class="d-flex">
                            <div class="blog-menu small-title date ms-2 mt-2" th:text="${post.time}"></div>
                            <span class="ms-auto my-auto" th:text="${post.user.username}">(Users name here)</span>
                            <div th:if="${post.user.id != loggedInUser.id}">
                                <div th:attr="dataset-id=${post.user.id}">
                                    <button type="button" th:text="${post.user.followers.contains(loggedInUser) ? 'Unfollow' : 'Follow'}" class="btn btn-sm follow-btn followButton py-0 ms-2 my-auto">(Follow Button)</button>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3 ms-3">
                            <h5 class="mb-0">Comments</h5>
                            <div class="comments ms-2 mt-2" th:each="comment : ${comments}">
                                <div class="" th:text="${comment.body}">(insert post body)</div>
                                <div class="d-flex">
                                    <div class="" th:text="${comment.date}">(insert post body)</div>
                                    <div class="ms-auto" th:text="${comment.user.username}">(insert comment user)</div>
                                    <div th:if="${comment.user.id != loggedInUser.id}">
                                        <div class="d-inline" th:attr="dataset-id=${post.user.id}">
                                            <button type="button" th:text="${post.user.followers.contains(loggedInUser) ? 'Unfollow' : 'Follow'}" class="btn btn-sm follow-btn followButton py-0 ms-2 my-auto">(Follow Button)</button>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            </div>
                            <div>
                                <h6 class="">Add a comment:</h6>
                                <form class="d-flex flex-column" th:action="@{|/post/${post.id}/comments|}" method="post" th:object="${comment}" th:fragment="form">
                                    <textarea name="body" type="text" th:field="*{body}" id="body-ip" class="ps-2 field mb-3" rows="3" placeholder="enter comment here"></textarea>

                                    <label class="pt-3" for="date-ip" hidden>Date:</label>
                                    <input type="text" th:field="*{date}" id="date-ip" class="field mb-3" hidden/>
                                    <input type="hidden" th:field="*{id}">

                                    <button class="btn btn-sm add-comment-btn me-auto mt-auto py-0 submit-btn" type="submit">Add Comment</button>
                                    <div class="mod-msg text-center text-danger"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<footer th:replace="~{/partials/partials :: footer}"></footer>
<script src="/js/keys.js"></script>
<script src="/js/script.js"></script>
<script src="/js/chatMod.js"></script>
<script src="/js/background.js"></script>

</body>
</html>
