<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/partials/partials :: head}">
    <title>New Post</title>
</head>
<body class="d-flex flex-column">
<nav class="pb-3" th:replace="~{/partials/partials :: navbar}" ></nav>

<div class="container d-flex flex-column flex-grow-1" th:object="${user}">
    <!--  append community bio into p element   -->
    <h1>Journal Entries</h1>
    <p class="bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur fugit harum magnam minima modi molestias quo
        rerum sed! Neque, quisquam?</p>
    <div class="row h-100 d-flex justify-content-center align-items-center my-auto pb-3" sec:authorize="isAuthenticated()">
        <div class="col-sm-12 col-md-6 g-3"  >
            <div class="card shadow h-100" style="">
                <div class="card-body d-flex flex-column">
                    <h2>Create Post</h2>

                    <form class="d-flex flex-column" th:action="@{/post/create}" th:object="${post}"  method="post">
                        <label for="entryTitle">Title</label>
                        <input id="entryTitle" name="entryTitle" type="text" value="entry title" th:field="*{title}"/>

                        <label for="body-ip">Body:</label>
                        <textarea type="text" th:field="*{body}" id="body-ip" class="field mb-3" rows="6" placeholder="what's on your mind?"></textarea>

                        <input type="hidden" th:field="*{time}" />
                        <input type="hidden" th:field="*{id}">
                        <button class="btn btn-outline-secondary me-auto mt-auto" type="submit">Submit Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-dark 100vw" th:replace="~{/partials/partials :: footer}"></footer>
</body>
</html>