<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="partials/partials :: head"></th:block>
    <title>Discover</title>
</head>
<body class="d-flex flex-column" th:object="${user}">
    <nav class="pb-3" th:replace="~{/partials/partials :: navbar}"></nav>
    <h2 class="greeting page-title ps-3" sec:authorize="isAuthenticated()">
        Welcome back <span class="p-0" th:text="${#authentication.principal.username}"/>
    </h2>
    <h2 class="greeting page-title ps-3" sec:authorize="isAuthenticated()">
        Discover more from our community.
    </h2>
    <th:block th:insert="~{/partials/partials :: posts}"></th:block>
<footer th:replace="~{/partials/partials :: footer}"></footer>
</body>
</html>
