<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="~{partials/partials :: head}"></th:block>
    <link rel="stylesheet" href="/css/style.css">
    <title>Discover</title>
</head>
<body class="d-flex flex-column">
    <nav class="pb-3" th:replace="~{/partials/partials :: navbar}"></nav>
    <div style="position: relative;">
        <th:block th:insert="~{/partials/partials :: greeting}" sec:authorize="isAuthenticated()"></th:block>
        <th:block th:insert="~{/partials/partials :: chat-bubble}" sec:authorize="isAuthenticated()"></th:block>
    </div>
    <th:block th:insert="~{/partials/partials :: posts}"></th:block>
<footer th:replace="~{/partials/partials :: footer}"></footer>
<script src="/js/script.js"></script>
<script src="/js/discover.js"></script>
</body>
</html>
