<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/partials/partials :: head}">
    <meta charset="UTF-8">
    <title>For You</title>
</head>
<body>
<nav class="pb-3" th:replace="~{/partials/partials :: navbar}" ></nav>
    <div class="container-fluid" th:object="${user}">
        <div class="greeting" sec:authorize="isAuthenticated()">
            Hello, <span th:text="${#authentication.principal.username}"/>
        </div>
        <!--  append community bio into p element   -->
        <h1>For You Page</h1>
        <p class="bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur fugit harum magnam minima modi molestias quo
            rerum sed! Neque, quisquam?</p>
        <!--  append community followers into div element   -->
        <div class="followers">followers</div>
    </div>
    <br>
    <hr>
    <br>
<footer class="footer-dark 100vw" th:replace="~{/partials/partials :: footer}"></footer>
</body>
</html>