<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <th:block th:insert="~{partials/partials :: head}"></th:block>
    <title>Chat</title>
</head>
<body class="d-flex flex-column" id="gradient">
<nav class="pb-3" th:replace="~{/partials/partials :: navbar}" ></nav>
<div id="id" th:value="${user.id}" hidden></div>
<div id="username" th:value="${user.username}" hidden></div>

<!-- minified snippet to load TalkJS without delaying your page -->
<script>
    (function(t,a,l,k,j,s){
        s=a.createElement('script');s.async=1;s.src="https://cdn.talkjs.com/talk.js";a.head.appendChild(s)
        ;k=t.Promise;t.Talk={v:3,ready:{then:function(f){if(k)return new k(function(r,e){l.push([f,r,e])});l
                    .push([f])},catch:function(){return k&&new k()},c:l}};})(window,document,[]);
</script>

<!-- container element in which TalkJS will display a chat UI -->
<div id="talkjs-container" style="border: solid #000000 2px ;width: 90%; margin: 30px; height: 500px">
    <i>Loading chat...</i>
</div>
<script src="/js/keys.js"></script>
<script src="/js/talkJS.js"></script>
<footer th:replace="~{/partials/partials :: footer}"></footer>
<script src="/js/background.js"></script>
</body>
</html>