<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="~{partials/partials :: head}"></th:block>
    <title>Edit Entry</title>
</head>
<body class="d-flex flex-column" id="gradient">
<nav class="pb-3" th:replace="~{/partials/partials :: navbar}"></nav>
    <div class="alert alert-danger" th:if="${errMsg}">
        Something bad happened!
    </div>
    <div class="d-flex ps-3">
        <h2 class="my-auto">Journal Entries</h2>
    </div>
    <div class="row align-content-center my-auto px-3 pb-3 g-3" sec:authorize="isAuthenticated()">
        <div class="col-sm-12 col-lg-4 offset-lg-2">
            <div class="card journal-card h-100" style="">

                <div class="card-body ruled-paper d-flex flex-column align-content-center" id="edit-entry">

                    <div role="main">
                        <div class="ruled-paper-header">
                            <div class="d-flex">
                                <h5 class="my-auto ps-2">Edit Journal Entry</h5>
                                <a th:href="@{|/journal|}" class="ms-auto mb-auto"><i class="backButton fa-solid fa-arrow-left"></i></a>
                                <br>
                            </div>
                        </div>

<!--                        <div class="ruled-paper-body" contenteditable="true">-->

                            <form class="d-flex flex-column ruled-paper-body" th:action="@{|/journal/${entry.id}/edit|}" th:object="${entry}" method="post">

                                <div class="d-flex">
                                    <label class="my-auto" for="entryTitleEdited">Title:</label>
                                    <input class="border border-0 bg-transparent" id="entryTitleEdited" name="entryTitleEdited" type="text" value="entry title" th:field="*{title}"/>
                                    <br>
                                </div>

                                <div class="d-flex">
                                    <label class="entry-body-title" for="body-ip">Body:</label>
                                    <textarea type="text" th:field="*{body}" id="body-ip" class="field mb-3 border border-0 bg-transparent py-0" rows="6" placeholder="what's on your mind?">
                                </textarea>
                                </div>
                                <input type="hidden" th:field="*{date}" />
                                <input type="hidden" th:field="*{id}">

                                <div class="journal-btn-container">
                                    <button class="btn btn-sm submit-btn me-auto mt-auto" type="submit">Save Changes</button>
                                    <a class="btn btn-sm btn-outline-danger me-auto mt-auto" th:href="@{|/journal/${entry.id}/delete|}">Delete</a>
                                </div>
                            </form>

<!--                        </div>-->
                    </div>

                </div>
            </div>
        </div>

<!--        <div class="col-sm-12 col-lg-4">-->
<!--            <div class="card edit-card h-100">-->
<!--                <div class="card-body d-flex flex-column">-->
<!--                    <h5>Create Entry</h5>-->
<!--                    <form class="d-flex flex-column h-100" th:action="@{/journal/addEntry}" th:object="${entry}" method="post">-->

<!--                        <label for="entryTitle">Title</label>-->
<!--                        <input id="entryTitle" name="entryTitle" type="text" value="entry title" th:field="*{title}"/>-->

<!--                        <label for="body-ip">Body:</label>-->
<!--                        <textarea type="text" th:field="*{body}" id="body-ip" class="field mb-3" rows="6" placeholder="what's on your mind?"></textarea>-->

<!--                        <input type="hidden" th:field="*{date}" />-->
<!--                        <input type="hidden" th:field="*{id}">-->

<!--                        <button class="btn btn-sm submit-btn me-auto mt-auto" type="submit">Submit Entry</button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

    </div>
<footer th:replace="~{/partials/partials :: footer}"></footer>
<script src="/js/background.js"></script>
</body>
</html>