<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head th:replace="~{/partials/partials :: head}">
    <meta charset="UTF-8">
    <title>Journal</title>
</head>
<body>
<nav class="pb-3" th:replace="~{/partials/partials :: navbar}" ></nav>

    <!--Text Area Box-->
    <div class="form-floating">Journal Entry
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2"></label>
    </div>

<footer class="" th:replace="~{/partials/partials :: footer}"></footer>
</body>
</html>