<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <th:block th:insert="~{partials/partials :: head}"></th:block>
  <link rel="stylesheet" href="/css/style.css">

  <title>Landing</title>
</head>
<body class="d-flex flex-column">
<section id="intro" class="container-fluid">
  <section class="container text-center">
    <div class="section1">
      <div class="container landingNav">
        <div class="landingNav landingNav_2" style="font-size: large">
          <p class="community-title"><a href="/discover"><img src="/img/icons8-sign-language-c-96.png" alt="sign language C" th:action="@{/discover}"></a><a class="p-0" >ommUNITY</a></p>
          <div>
            <ul class=" container landingNavSignUp">
              <a class="px-2 my-auto nav-item navLanLink blink2" href="/login">Login</a>
              <a class="px-2 my-auto nav-item navLanLink blink" href="/register">Sign Up!</a>
            </ul>
          </div>
        </div>
      </div>
      <div class="section1_2 container">
        <div class="section1_3 container">
          <div id="communersIntroOpening">
            <p class="fw-medium fs-1">Where your <strong><i>journey</i></strong> begins...</p>
          </div>

          <div id="paragraph1Container" class="fw-bolder text">
            <p id="paragraphI" class="fs-4">Most people today begin their search for a therapist or community online. Are they finding you? At CommUnity, we're passionate about connecting groups and friends with you. We strive to provide the tools for you to have a successful procreative life, and how to build an online presence that is personalized for you. We bundle all the necessary features and services into an all-inclusive bundle with stress-free intuitive features.
            </p>
          </div>

          <div class="awards container-fluid">
            <i class="fa-solid fa-globe fa-2xl"></i>
            <i class="fa-regular fa-handshake fa-2xl"></i>
            <i class="fa-solid fa-hand-holding-heart fa-2xl"></i>
          </div>
        </div>

      </div>
    </div>
  </section>
  <div class="custom-shape-divider-top-1682300104">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
      <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
      <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="custom-shape-divider-bottom-1682306172">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
      <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
      <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
    </svg>
  </div>
</section>
<section id="reviews" class="container-fluid">
  <section class="container reviewsContainer">
    <div>
      <div class="vr d-flex" style="height: 169px; padding-right: 0; padding-left: 15px; margin-right: 15px;
      margin-top: 30px;"></div>
    </div>
    <div id="reviewsTitle" class="fw-medium fs-1" style="margin-bottom: 0; padding-top: 45px">
      <p>What our <strong><i>members</i></strong> have to say...</p>
    </div>
    <div class="section2 container">
        <div class="scrolling-wrapper-container slide-toggle">
          <div class="scrolling-wrapper primary">
            <div class="card cardReviews">
              <div class="card-header">
              Finally found family!!
              </div>
              <div class="container-fluid card-body">
                <blockquote class="blockquote container-fluid mb-0">
                  The family and I just moved here from outside the United States, and it was such a culture shock that I felt I was going have a difficult time finding and embracing new friends. Once I found Community, everything changed.  It only took just me signing up.  Within a week I had already connected with four different families.  Like we never left home.
                </blockquote>
                  <footer class="blockquote-footer">Nancy from
                    <cite title="Source Title">Miami, FL</cite>
                  </footer>
              </div>
            </div>
            <div class="card cardReviews">
              <div class="card-header">
                Always thought I was the only one....
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  Allot of other sites didn't feel private or safe for me from advertisers which made me hesitant to seek out communities online until I found Community.
                </blockquote>
                  <footer class="blockquote-footer">Henry from
                    <cite title="Source Title">Lincoln, NE</cite>
                  </footer>
              </div>
            </div>
            <div class="card cardReviews">
              <div class="card-header">
                Game changer!
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  Really enjoy the groups that can be found on CommUnity.  People I've been able to follow and chat with have been so helpful in connecting me with other's.
                </blockquote>
                  <footer class="blockquote-footer">Loni from
                    <cite title="Source Title">New York, NY</cite>
                  </footer>
              </div>
            </div>
            <div class="card cardReviews">
              <div class="card-header">
                Incroyable!!
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  A well-known quote, contained in a blockquote element.
                </blockquote>
                  <footer class="blockquote-footer">Sofi from
                    <cite title="Source Title">Paris, FR</cite>
                  </footer>
              </div>
            </div>
            <div class="card cardReviews">
              <div class="card-header">
                Highly recommended
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  A well-known quote, contained in a blockquote element.
                </blockquote>
                  <footer class="blockquote-footer">Max from
                    <cite title="Source Title">Honolulu, HI</cite>
                  </footer>
              </div>
            </div>
            <div class="card cardReviews">
              <div class="card-header">
                Almost lost myself..
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  A well-known quote, contained in a blockquote element.
                </blockquote>
                  <footer class="blockquote-footer">Sean from
                    <cite title="Source Title">Seattle, WA</cite>
                  </footer>
              </div>
            </div>
            <div class="card cardReviews">
              <div class="card-header">
                A blessing from the matrix..
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  A well-known quote, contained in a blockquote element.
                </blockquote>
                  <footer class="blockquote-footer">Jiro from
                    <cite title="Source Title">Los Angeles, CA</cite>
                  </footer>
              </div>
            </div>
            <div class="card cardReviews">
              <div class="card-header">
                Thank you guys!!
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  A well-known quote, contained in a blockquote element.
                </blockquote>
                  <footer class="blockquote-footer">Nina from
                    <cite title="Source Title">San Antonio, TX</cite>
                  </footer>
              </div>
            </div>
            <div class="card cardReviews">
              <div class="card-header">
                Father recommended this site..
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  A well-known quote, contained in a blockquote element.
                </blockquote>
                  <footer class="blockquote-footer">Bobby from
                    <cite title="Source Title">Memphis, TN</cite>
                  </footer>
              </div>
            </div>
            <div class="card cardReviews">
              <div class="card-header">
                New friends
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  A well-known quote, contained in a blockquote element.
                  <footer class="blockquote-footer">Alex from
                    <cite title="Source Title">Juneau, AK</cite>
                  </footer>
                </blockquote>
              </div>
            </div>
            <div class="card cardReviews">
              <div class="card-header">
                Whoop Whoop!!
              </div>
              <div class="card-body-quote">
                <blockquote class="blockquote mb-0">
                  A well-known quote, contained in a blockquote element.
                </blockquote>
                  <footer class="blockquote-footer">Kira from
                    <cite title="Source Title">Canberra, ASTL</cite>
                  </footer>
              </div>
            </div>
          </div>
        </div>
    </div>

  </section>
  <div class="custom-shape-divider-bottom-1682722538">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="custom-shape-divider-bottom-1682723225">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="custom-shape-divider-bottom-1682723532">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M602.45,3.86h0S572.9,116.24,281.94,120H923C632,116.24,602.45,3.86,602.45,3.86Z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="custom-shape-divider-top-1681841113">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div>

  <div class="custom-shape-divider-top-1682300614">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
      <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
      <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="custom-shape-divider-bottom-1682315080">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="custom-shape-divider-bottom-1682315395">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
    </svg>
  </div>
</section>

<section id="signUp" class="green text-center container-fluid">

  <h1 class="fw-bolder" style="height: 56px; width: 515px; padding-top: 0; margin-top: 90px;">
    The Community Promise</h1>
  <p class="fw-semibold fs-3">"Find support, find community, find yourself.”</p>

  <h2 style="transform: rotate(-6deg); padding-left: 0; padding-top: 5px"><a class="text-dark bg-white icon-link icon-link-hover link-secondary" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0); height: 6px;
    padding-right: 25px;" th:href="@{/register}">
    <svg class="bi" aria-hidden="true" style="transform: rotate(90deg);"><i class="fa-solid fa-clipboard-check fa-bounce fa-2xl" style="color:#000000"></i></svg>
    Sign up!<span style="font-family: 'Comforter Brush', cursive; font-size: 55px; color: red; padding-left: 18px">Its Free</span>
  </a></h2>

  <div class="custom-shape-divider-top-1681841818">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="custom-shape-divider-bottom-1682316857">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="custom-shape-divider-bottom-1682316581">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="custom-shape-divider-bottom-1682316358">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="custom-shape-divider-bottom-1682316226">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
    </svg>
  </div>

</section>
<footer th:replace="~{/partials/partials :: footer}"></footer>
<script src="/js/script.js"></script>
</body>
</html>
