<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <th:block th:insert="~{partials/partials :: head}"></th:block>
  <title>Landing Page</title>
</head>
<body class="d-flex flex-column" id="gradient">
<nav class="pb-3" th:replace="~{/partials/partials :: navbar}" ></nav>
<div class="d-flex">
  <h1 class="page-title mx-auto mt-4">Landing Page</h1>
</div>
<div class="container d-flex flex-column flex-grow-1 justify-content-center align-items-center">
</div>
<footer th:replace="~{/partials/partials :: footer}"></footer>
<script src="/js/background.js"></script>
<script src="/js/script.js"></script>
<script src="/js/background.js"></script>
</body>
</html>