<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <th:block th:insert="~{partials/partials :: head}"></th:block>
  <link rel="stylesheet" href="/css/style.css">

  <title>Discover</title>
</head>
<body class="d-flex flex-column">
<nav class="pb-3 landingNav" th:replace="~{/partials/partials :: navbar}"></nav>
<section id="intro" class="pink text-center">
  <div class="section1">
    <div class="section1_2 container-fluid">

      <div class="section1_3 container-fluid">

        <div id="communersIntroOpening">
          <p class="fw-medium fs-1">Were your journey begins...</p>
        </div>

        <div id="paragraph1Container" class="fw-light fs-4 text">
          <p id="paragraphI" class="">Most people today begin their search for a therapist or community online. Are they finding you? At CommUnity, we are passionate about connecting groups and friends with you. We strive to provide the tools  for you to have a successful procreative life, and how to build an online presence that is personalized for you. We bundle all the necessary features and services into an all-inclusive bundle with stress-free intuitive features.
          </p>
        </div>

        <div id="communersIntroSignOff">
          <p class="communersIntroSignOff fst-italic fs-5">~Communers</p>
        </div>

        <div class="awards container-fluid">
          <i class="fa-solid fa-globe fa-2xl"></i>
          <i class="fa-regular fa-handshake fa-2xl"></i>
          <i class="fa-solid fa-hand-holding-heart fa-2xl"></i>
        </div>
      </div>

    </div>
    <div class="custom-shape-divider-top-1682300104">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
        <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
        <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
      </svg>
    </div>
    <div class="custom-shape-divider-bottom-1682306172">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
        <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
        <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
      </svg>
    </div>
  </div>
</section>

<section id="reviews" class="purple bubble text-center">

  <div class="section2 container-fluid section2Rev">

    <div id="reviewsTitle" class="fw-medium fs-1">
      <p>Why our members are thrilled</p>
    </div>

<!--    <div class="container-fluid">-->
<!--      <div class="reviewsSidePanel" style="border: black solid">HELLO</div>-->
<!--    </div>-->

      <div class="scrolling-wrapper-container slide-toggle">
        <div class="scrolling-wrapper primary">
          <div class="card cardReviews"><p>Hello 1</p></div>
          <div class="card cardReviews"><p>Hello 2</p></div>
          <div class="card cardReviews"><p>Hello 3</p></div>
          <div class="card cardReviews"><p>Hello 4</p></div>
          <div class="card cardReviews"><p>Hello 5</p></div>
          <div class="card cardReviews"><p>Hello 6</p></div>
          <div class="card cardReviews"><p>Hello 7</p></div>
          <div class="card cardReviews"><p>Hello 8</p></div>
          <div class="card cardReviews"><p>Hello 9</p></div>
          <div class="card cardReviews"><p>Hello 10</p></div>
          <div class="card cardReviews"><p>Hello 11</p></div>
        </div>
<!--        <div class="scrolling-wrapperII secondary">-->
<!--          <div class="card cardReviews"><p >Hello 2.1</p></div>-->
<!--          <div class="card cardReviews"><p >Hello 2.2</p></div>-->
<!--          <div class="card cardReviews"><p >Hello 2.3</p></div>-->
<!--          <div class="card cardReviews"><p >Hello 2.4</p></div>-->
<!--          <div class="card cardReviews"><p >Hello 2.5</p></div>-->
<!--          <div class="card cardReviews"><p >Hello 2.6</p></div>-->
<!--          <div class="card cardReviews"><p >Hello 2.7</p></div>-->
<!--          <div class="card cardReviews"><p >Hello 2.8</p></div>-->
<!--          <div class="card cardReviews ed"><p >Hello 2.9</p></div>-->
<!--        </div>-->
      </div>

<!--    <div class="container-fluid">-->
<!--      <div class="reviewsSidePanel" style="border: black solid">HELLO</div>-->
<!--    </div>-->

  </div>

  <div class="custom-shape-divider-top-1681841113">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div>

  <div class="custom-shape-divider-top-1682300614">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
      <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
      <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="custom-shape-divider-bottom-1682315080">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="custom-shape-divider-bottom-1682315395">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
    </svg>
  </div>

</section>

<section id="signUp" class="green text-center container-fluid">
  <h1>The Community Promise</h1>
  <p>"Find support, find community, find yourself.”</p>

  <h2></h2>
  <a class="text-dark bg-white icon-link icon-link-hover link-secondary" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" th:href="@{/register}">
    <svg class="bi" aria-hidden="true"><i class="fa-solid fa-clipboard-check fa-bounce fa-2xl" style="color:#000000"></i></svg>
    Sign up! Its Free
  </a>

  <div class="custom-shape-divider-top-1681841818">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="custom-shape-divider-bottom-1682316857">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="custom-shape-divider-bottom-1682316581">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="custom-shape-divider-bottom-1682316358">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="custom-shape-divider-bottom-1682316226">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
    </svg>
  </div>

</section>
<footer th:replace="~{/partials/partials :: footer}"></footer>
<script src="/js/script.js"></script>
</body>
</html>
