<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="~{partials/partials :: head}"></th:block>
    <title>Questionnaire</title>
</head>
<body class="d-flex flex-column" id="gradient">
    <nav class="pb-3" th:replace="~{/partials/partials :: navbar}"></nav>
    <h1 class="page-title mx-auto mt-4">Questionnaire</h1>

    <div class="row align-content-center my-auto px-3 pb-3 g-3" th:object="${user}">
        <div class="col-sm-12 offset-lg-3 col-lg-6 g-3" sec:authorize="isAuthenticated()">
            <div class="card post-card h-100" style="">
                <div class="card-bg opacity-50 flex-grow-1"></div>
                <div class="card-body d-flex flex-column">
                    <form class="d-flex flex-column" th:action="@{|/questionnaire|}" method="post" th:object="${questionnaire}">
                        <div class="form-check d-flex flex-column">
                            <h5 class="mt-4">
                                Would you say that the weather has an impact on your mood?
                            </h5>
                            <div class="d-flex flex-column ms-4">
                                <div>
                                    <input class="form-check-input" value="Y" type="radio" name="weather" id="weatherY" th:field="*{answer_1}">
                                    <label class="form-check-label" for="weatherY">
                                        Yes
                                    </label>
                                </div>
                                <div>
                                    <input class="form-check-input" value="N" type="radio" name="weather" id="weatherN" th:field="*{answer_1}">
                                    <label class="form-check-label" for="weatherN">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div class="form-check d-flex flex-column">
                            <h5>
                                Do you get seasonal depression?
                            </h5>
                            <div class="d-flex flex-column ms-4">
                                <div>
                                    <input class="form-check-input" value="Y" type="radio" name="seasonalDepression" id="seasonalDepressionY" th:field="*{answer_2}">
                                    <label class="form-check-label" for="weatherY">
                                        Yes
                                    </label>
                                </div>
                                <div>
                                    <input class="form-check-input" value="N" type="radio" name="seasonalDepression" id="seasonalDepressionN" th:field="*{answer_2}">
                                    <label class="form-check-label" for="weatherN">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div class="form-check d-flex flex-column">
                            <h5>
                                Would you say you are open to change?
                            </h5>
                            <div class="d-flex flex-column ms-4">
                                <div>
                                    <input class="form-check-input" value="Y" type="radio" name="familialDepression" id="familialDepressionY" th:field="*{answer_3}">
                                    <label class="form-check-label" for="weatherY">
                                        Yes
                                    </label>
                                </div>
                                <div>
                                    <input class="form-check-input" value="N" type="radio" name="familialDepression" id="familialDepressionN" th:field="*{answer_3}">
                                    <label class="form-check-label" for="weatherN">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div class="form-check d-flex flex-column">
                            <h5>
                                Would you like to receive morale boosting notifications?
                            </h5>
                            <div class="d-flex flex-column ms-4">

                                <div>
                                    <input class="form-check-input" value="Y" type="radio" name="notifications" id="notificationsY" th:field="*{notifications}">
                                    <label class="form-check-label" for="weatherY">
                                        Yes
                                    </label>
                                </div>
                                <div>
                                    <input class="form-check-input" value="N" type="radio" name="notifications" id="notificationsN" th:field="*{notifications}">
                                    <label class="form-check-label" for="weatherN">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-sm submit-btn me-auto mt-3 py-0" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<footer th:replace="~{/partials/partials :: footer}"></footer>
<script src="/js/background.js"></script>
</body>
</html>