<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/partials/partials :: head}">
    <meta charset="UTF-8">
    <title>Questionnaire</title>
</head>
<body class="d-flex flex-column">
<nav class="pb-3" th:replace="~{/partials/partials :: navbar}" ></nav>
<div class="container d-flex flex-column flex-grow-1" th:object="${user}">
    <!--  append community bio into p element   -->
    <div class="row h-100 d-flex justify-content-center align-items-center my-auto pb-3" sec:authorize="isAuthenticated()">
        <div class="col-sm-12 col-md-6 g-3">
            <div class="card shadow h-100" style="">
                <div class="card-body d-flex flex-column">
                    <h2>Questionnaire</h2>
                    <br>
                        <form class="d-flex flex-column" th:action="@{|/questionnaire|}" method="post" th:object="${questionnaire}">
                        <div class="form-check d-flex flex-column">
                            <h5>
                                Does rainy weather make you sad?
                            </h5>
                            <div>
                                <input class="form-check-input" value="Y" type="radio" name="weather" id="weatherY" th:field="*{answer_1}">
                                <label class="form-check-label" for="weatherY">
                                    Yes
                                </label>
                            </div>
                            <div>
                                <input class="form-check-input" value="N" type="radio" name="weather" id="weatherN" th:field="*{answer_1}">
                                <label class="form-check-label" for="weatherN">
                                    No
                                </label>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div class="form-check d-flex flex-column">
                            <h5>
                                Do you get seasonal depression?
                            </h5>
                            <div>
                                <input class="form-check-input" value="Y" type="radio" name="seasonalDepression" id="seasonalDepressionY" th:field="*{answer_2}">
                                <label class="form-check-label" for="weatherY">
                                    Yes
                                </label>
                            </div>
                            <div>
                                <input class="form-check-input" value="N" type="radio" name="seasonalDepression" id="seasonalDepressionN" th:field="*{answer_2}">
                                <label class="form-check-label" for="weatherN">
                                    No
                                </label>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div class="form-check d-flex flex-column">
                            <h5>
                                Does depression run in your family?
                            </h5>
                            <div>
                                <input class="form-check-input" value="Y" type="radio" name="familialDepression" id="familialDepressionY" th:field="*{answer_3}">
                                <label class="form-check-label" for="weatherY">
                                    Yes
                                </label>
                            </div>
                            <div>
                                <input class="form-check-input" value="N" type="radio" name="familialDepression" id="familialDepressionN" th:field="*{answer_3}">
                                <label class="form-check-label" for="weatherN">
                                    No
                                </label>
                            </div>
                        </div>
                        <br>

                        <!--                        <input type="hidden" th:field="*{time}" />-->
<!--                        <input type="hidden" th:field="*{id}">-->
                        <button class="btn btn-outline-secondary me-auto mt-auto" type="submit">Submit Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-dark 100vw" th:replace="~{/partials/partials :: footer}"></footer>
</body>
</html>