<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <th:block th:insert="~{partials/partials :: head}"></th:block>
    <title>Login</title>
<!--    <link rel="stylesheet" href="/css/password.css">-->
</head>
<body class="d-flex flex-column" id="gradient">
<nav class="pb-3" th:replace="~{/partials/partials :: navbar}" ></nav>
<div class="container d-flex flex-grow-1 justify-content-center align-items-center">
    <div class="alert alert-danger" th:if="${errMsg}">
        Something bad happened!
    </div>
    <div class="card sign-up-card mt-3 mb-5">
        <div class="card-body  d-flex flex-column">
            <h5>Create an account</h5>
            <form class="d-flex flex-column" th:action="@{/register}" method="POST" th:object="${user}">
                <label for="username">Username</label>
                <input id="username" th:field="*{username}" required/>

                <label for="first_name">First Name</label>
                <input id="first_name" th:field="*{first_name}" required/>

                <label for="last_name">Last Name</label>
                <input id="last_name" th:field="*{last_name}" required/>

                <label for="email">Email</label>
                <input id="email" th:field="*{email}" required/>

                <label for="psw">Password</label>
                <input type="password" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" th:field="*{password}" required>

                <input class="mt-3 btn me-auto" value="Sign me up!" type="submit" />
            </form>
        </div>
    </div>
    <div class="password-validation mt-3 mb-5 p-3" id="message">
        <div class="d-flex flex-column">
            <h4>Password must contain the following:</h4>
            <p id="letter" class="invalid fs-5">A <b>lowercase</b> letter</p>
            <p id="capital" class="invalid fs-5">A <b>capital (uppercase)</b> letter</p>
            <p id="number" class="invalid fs-5">A <b>number</b></p>
            <p id="length" class="invalid fs-5">Minimum <b>8 characters</b></p>
        </div>
    </div>
</div>
<footer th:replace="~{/partials/partials :: footer}"></footer>
<script src="/js/password.js"></script>
<script src="/js/background.js"></script>
</body>
</html>