:root {
    --pink: #F2B3D6;
    --purple: #B7AEF2;
    --dark-green: #238C6E;
    --light-green: #2BD999;
    --bg-white: #F2EEEB;
    --grey: #848282;
    --black: #000000;

    --margin-line-color: #ec7063;
    /*--ruling-line-color: #85c1e9;*/
    --ruling-line-color: #969494;
}
* {
    font-family: 'Raleway', sans-serif;
}
.community-title a{
    color: var(--dark-green);
    font-family: 'Chivo Mono', monospace;
    font-weight: bold;
    font-size: 3rem;
}
.community-title a:hover{
    color: var(--dark-green);
    text-shadow: .25rem .25rem var(--pink);
}
/*#gradient {*/
/*    width: 100%;*/
/*    height: 800px;*/
/*    padding: 0px;*/
/*    margin: 0px;*/
/*}*/
body,html {
    margin: 0;
    /*font: bold 14px/1.4 'Open Sans', arial, sans-serif;*/
}
body {
    height: 100vh;
    color: var(--black);
    position: relative;
    /*background-image: url("/static/img/hands.svg"), linear-gradient(to bottom right, var(--purple), var(--bg-white));*/
    overflow-x: hidden;

}
nav, footer {
    color: var(--dark-green) !important;
}
.offcanvas-end.show {
    background-color: var(--bg-white) !important;
}

.btn {
    outline: none !important;
}
.btn:active, .btn:hover {
    outline: none !important;
}
.hamburger, .chat-btn {
    font-size: 2rem  !important;
}

.closeButton, .backButton {
    color: var(--ruling-line-color) ;
    /*font-size: 2rem;*/
}
/*button:focus, button:active, .btn:hover, .btn:active {*/
/*    outline: none !important;*/
/*    !*border: none !important;*!*/
/*    box-shadow: none !important;*/
/*    -webkit-box-shadow: none !important;*/
/*    -moz-box-shadow: none !important;*/
/*}*/

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.chat-btn,
.chat-btn:active,
.chat-btn:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}
.navbar-toggler:hover, .chat-btn:hover {
    text-shadow: .25rem .25rem var(--pink) !important;
}
.closeButton:hover {
    color: red;
    text-shadow: .25rem .25rem var(--pink);
}
.closeButton:active {
    color: red;
}
.backButton:hover {
    color: var(--dark-green);
    text-shadow: .25rem .25rem var(--pink);
}
.backButton:active {
    color: var(--light-green);
    text-shadow: .25rem .25rem var(--purple);
}
.notification {
    font-size: 1.8rem;
    width: 100%;
    color: var(--black);
    font-weight: bold;
    /*-webkit-text-stroke-width: 2px;*/
    /*-webkit-text-stroke-color: white;*/
    z-index: 10;
    opacity: 1;
    animation: fade 15s ease-in-out;
}

@keyframes fade {
    0%,100% { opacity: 0 }
    40%,60% {opacity: 1}
}

/*.notification.show {*/
/*    !*top: 100px;*!*/
/*}*/

/*.notification.hidden {*/
/*    display: none;*/
/*}*/

nav {
    /*border-bottom: var(--grey) solid .125rem;*/
    background-color: var(--bg-white);
}
footer {
    /*border-top: var(--grey) solid .125rem;*/
    background-color: var(--bg-white);
}
nav a, nav .logout {
    font-size: 1.25rem;
    color: var(--dark-green);
    text-decoration: none;
}
nav a:hover, nav .logout:hover, .forgot-pw:hover, .post-link:hover {
    /*font-weight: bold;*/
    color: var(--dark-green);
    text-shadow: .125rem .125rem var(--pink);
    text-decoration: none;
}
.navbar-collapse ul {
    padding: 0;
    list-style: none;
    text-align: center;
    text-decoration: none;
}

.navbar-collapse a, .logout, .greeting, .greeting span {
    text-decoration: none;
    /*letter-spacing: 0.15em;*/
    /*padding: 0 1rem;*/
    /*display: inline-block;*/
    /*position: relative;*/
}
.navbar-collapse a:after, .logout:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    text-decoration: none;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.navbar-collapse a:hover:after, .logout:hover:after {
    text-decoration: none;
    font-family: 'Raleway', sans-serif, bold;
    /*color: var(--pink);*/
    text-shadow: .25rem .25rem var(--pink);
    width: 100%;
    left: 0;
}
.navbar-nav > li.active {
    font-weight: bold;
}
.offcanvas {
    width: auto !important;
    height: auto !important;
    background-color: var(--bg-white) !important;
}
@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}
.card-bg {
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -10;
}
.login-card, .create-card, .sign-up-card, .edit-card, .post-card, .individual-post-card, .about-card, .profile-card, .card-community, .chat-card, .comment-card, .journal-card, .settings-card {
    box-shadow: .25rem .25rem var(--pink);
    -webkit-box-shadow: .25rem .25rem var(--pink);
    -moz-box-shadow: .25rem .25rem var(--pink);

    border: var(--dark-green) solid .125rem !important;
    background-color: transparent !important;
}
.login-card, .sign-up-card, #message, .settings-card {
    width: 300px;
    min-height: 400px;
}
.about-card a, .resource-link {
    /*font-size: 1.25rem;*/
    color: var(--dark-green);
    text-decoration: none;
}
.chat-card a, .forgot-pw, .post-link {
    color: var(--black);
    text-decoration: none;
}
.about-card a:hover, .resource-link:hover, .chat-card a:hover {
    /*font-weight: bold;*/
    color: var(--dark-green) !important;
    text-shadow: .125rem .125rem var(--pink) !important;
    text-decoration: none !important;
}
footer h3 {
    font-size: 1.25rem;
    color: var(--dark-green);
    font-weight:bold;
}

footer li, footer p{
    color: var(--black);
    list-style:none;
    text-decoration: none;
}

footer li a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--black);
    text-transform: uppercase;
}
footer li:hover, footer li a:hover {
    /*font-weight: bold;*/
    color: var(--dark-green);
    text-shadow: .125rem .125rem var(--pink);
    text-decoration: none;
}
@media (max-width:767px) {
    footer .item:not(.social) {
        text-align:center;
        padding-bottom:20px;
    }
}

footer .item.text {
    /*margin-bottom:36px;*/
}

@media (max-width:767px) {
    footer .item.text {
        margin-bottom:0;
    }
}

footer .item.text p {
    opacity:0.6;
    margin-bottom:0;
}

footer .item.social {
    text-align:center;
}

@media (max-width:991px) {
    footer .item.social {
        text-align:center;
        margin-top:20px;
    }
}
.chat-popout {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
}
footer .item.social > a, .fa-linkedin, .fa-github, .fa-code {
    font-size:24px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    /*text-align:center;*/
    /*border-radius:50%;*/
    /*box-shadow:0 0 0 1px rgba(255,255,255,0.4);*/
    /*margin:0 8px;*/
    color: var(--dark-green);
}

footer .item.social > a:hover, .fa-linkedin:hover, .fa-github:hover, .fa-code:hover {
    text-shadow: .125rem .125rem var(--pink);
}

footer .copyright {
    text-align:center;
    /*padding-top:24px;*/
    /*opacity:0.3;*/
    font-size:13px;
    margin-bottom:0;
}
input.btn, .follow-btn, .search-btn, .read-more-btn, .edit-btn, .login-btn, .find-ppl-btn, .community-btn {
    border: var(--dark-green) solid .125rem !important;
    color: var(--dark-green) !important;
    background-color: var(--bg-white) !important;
}
input.btn:hover, .follow-btn:hover, .search-btn:hover, .read-more-btn:hover, .edit-btn:hover, .login-btn:hover, .find-ppl-btn:hover, .community-btn:hover {
    color: var(--dark-green) !important;
    box-shadow: .25rem .25rem var(--pink) !important;
    -webkit-box-shadow: .25rem .25rem var(--pink) !important;
    -moz-box-shadow: .25rem .25rem var(--pink) !important;
}
input.btn:active, .follow-btn:active, .search-btn:active, .read-more-btn:active, .edit-btn:active, .login-btn:active, .find-ppl-btn:active, .community-btn:active {
    background-color: var(--light-green) !important;
    box-shadow: .25rem .25rem var(--purple) !important;
    -webkit-box-shadow: .25rem .25rem var(--purple) !important;
    -moz-box-shadow: .25rem .25rem var(--purple) !important;
}

.add-comment-btn, .submit-btn {
    border: var(--dark-green) solid .125rem !important;
    color: var(--dark-green) !important;
    background-color: var(--bg-white) !important;
}
.add-comment-btn:hover, .submit-btn:hover {
    color: var(--dark-green) !important;
    box-shadow: .25rem .25rem var(--pink) !important;
    -webkit-box-shadow: .25rem .25rem var(--pink);
    -moz-box-shadow: .25rem .25rem var(--pink);

}
.add-comment-btn:active, .submit-btn:active {
    background-color: var(--light-green) !important;
    box-shadow: .25rem .25rem var(--purple);
    -webkit-box-shadow: .25rem .25rem var(--purple);
    -moz-box-shadow: .25rem .25rem var(--purple);
}
.btn-outline-danger {
    border: red solid .125rem !important;
    color: red !important;
    background-color: var(--bg-white) !important;
}
.btn-outline-danger:hover {
    color: red !important;
    background-color: var(--bg-white) !important;
    box-shadow: .25rem .25rem red !important;
    -webkit-box-shadow: .25rem .25rem red;
    -moz-box-shadow: .25rem .25rem red;
}
.btn-outline-danger:active {
    background-color: var(--pink) !important;
}

/* The message box is shown when the user clicks on the password field */
#message {
    position: absolute;
    translate: 300px;
    border: none !important;
}

#message p {
    /*padding: 10px 35px;*/
    /*font-size: 18px;*/
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: var(--dark-green);
}
.valid:before {
    /*position: relative;*/
    content: "\2713";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    /*position: relative;*/
    content: "\00d7";
}

.fa-brands, .chat-btn {
    color: var(--dark-green) !important;
}
.ruled-paper {
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: transparent !important;
    /*display: flex;*/
    flex-direction: column !important;
}

.ruled-paper .ruled-paper-header {
    background-image: linear-gradient(90deg, transparent 79px, var(--margin-line-color) 79px, var(--margin-line-color) 81px, transparent 81px);
    background-size: 100% 1.2em;
    flex-grow: 1;
}

.ruled-paper-header {
    background-image: linear-gradient(90deg, transparent 79px, var(--margin-line-color) 79px, var(--margin-line-color) 81px, transparent 81px), linear-gradient(var(--ruling-line-color) .1em, transparent .1em) !important;
    background-size: 100% 1.2em;
    flex-grow: 8;
    /*padding-top: 1rem;*/
    padding-left: 5rem;
    line-height: 1.2;
    font-size: 2rem;
}

.ruled-paper .ruled-paper-body {
    background-image: linear-gradient(90deg, transparent 79px, var(--margin-line-color) 79px, var(--margin-line-color) 81px, transparent 81px), linear-gradient(var(--ruling-line-color) .1em, transparent .1em);
    background-size: 100% 1.2em;
    flex-grow: 8;
    /*padding-top: .2rem;*/
    /*padding-left: 2rem;*/
    line-height: 1.2;
}
.single-entry {
    padding-top: .2rem;

}
.entry-body-title {
    line-height: 1.2;
}

.ruled-paper input, .ruled-paper textarea {
    padding-left: 0;
}

input#username, input#password, input#confirm-password,  input#first_name, input#last_name, input#email, input#psw, input#entryTitle, #body-ip, #search-input {
    border: var(--dark-green) solid .125rem !important;
    outline: none !important;
}
input#username:active, input#password:active, input#username:hover, input#password:hover, input#first_name:active, input#last_name:active, input#email:active, input#psw:active,input#entryTitle:active, #body-ip:active, #search-input:active, input#confirm-password:active, input#first_name:hover, input#last_name:hover, input#email:hover, input#psw:hover, input#entryTitle:hover, #body-ip:hover, #search-input:hover,input#confirm-password:hover {
    border: var(--dark-green) solid .125rem !important;
    outline: none !important;
    box-shadow: .25rem .25rem var(--pink);
    -webkit-box-shadow: .25rem .25rem var(--pink);
    -moz-box-shadow: .25rem .25rem var(--pink);
}

textarea, input {
    background-color: transparent !important;
}
.ruled-paper .ruled-paper-body textarea:active,
.ruled-paper .ruled-paper-body textarea:hover,
.ruled-paper .ruled-paper-body textarea:focus,
.ruled-paper input:active,
.ruled-paper input:hover,
.ruled-paper input:focus {
    outline: none !important;
    border: none !important;
}

.journal-btn-container, .add-entry, .edit-entry-line {
    padding-left: 5.5rem;
}

/*Landing Page*/
.custom-shape-divider-bottom-1682436932 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}


svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 40px;
}

.custom-shape-divider-bottom-1682436932 .shape-fill {
    fill: #E6C9FF;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1682436932 svg {
        width: calc(110% + 1.3px);
        height: 15px;
    }
}
/*Section 1*/
/*Shape divider app*/
.custom-shape-divider-top-1682300104 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1682300104 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 52px;
}

.custom-shape-divider-top-1682300104 .shape-fill {
    fill: #C5ACF2;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1682300104 svg {
        width: calc(100% + 1.3px);
        height: 28px;
    }
}

/*Section 1*/
/*Shape divider app*/
.custom-shape-divider-bottom-1682306172 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1682306172 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 52px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1682306172 .shape-fill {
    fill: #cbc5f5;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1682306172 svg {
        width: calc(142% + 1.3px);
        height: 46px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1682306172 svg {
        width: calc(100% + 1.3px);
        height: 28px;
    }
}
/*Section 2*/
/*Shape divider app*/
.custom-shape-divider-bottom-1681840988 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
/*Section 2*/
/*Shape divider app*/
.custom-shape-divider-bottom-1681840988 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 94px;
    transform: rotateY(180deg);
}
/*Section 2*/
/*Shape divider app*/
.custom-shape-divider-bottom-1681840988 .shape-fill {
    fill: #FFFFFF;
}
/*Section 2*/
/*Shape divider app*/
.custom-shape-divider-top-1681841113 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
/*Section 2*/
/*Shape divider app*/
.custom-shape-divider-top-1681841113 svg {
    position: relative;
    display: block;
    width: calc(121% + 1.3px);
    height: 94px;
    transform: rotateY(180deg);
}
/*Section 2*/
/*Shape divider app*/
.custom-shape-divider-top-1681841113 .shape-fill {
    fill: #FFFFFF;
}
/*Section 2*/
/*Shape divider app*/
.custom-shape-divider-top-1682300614 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-top-1682300614 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 52px;
}
.custom-shape-divider-top-1682300614 .shape-fill {
    fill: #b7aaf3;
}
/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1682300614 svg {
        width: calc(193% + 1.3px);
        height: 39px;
    }
}
/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1682300614 svg {
        width: calc(100% + 1.3px);
        height: 28px;
    }
}
.custom-shape-divider-bottom-1682315080 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1682315080 svg {
    position: relative;
    display: block;
    width: calc(84% + 1.3px);
    height: 83px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1682315080 .shape-fill {
    fill: #F6E3EE;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1682315080 svg {
        width: calc(102% + 1.3px);
        height: 69px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1682315080 svg {
        width: calc(112% + 1.3px);
        height: 23px;
    }
}
/*Section 2*/
/*Shape divider app*/
.custom-shape-divider-bottom-1682315395 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1682315395 svg {
    position: relative;
    display: block;
    width: calc(101% + 1.3px);
    height: 63px;
}

.custom-shape-divider-bottom-1682315395 .shape-fill {
    fill: #DEC0D1;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1682315395 svg {
        width: calc(107% + 1.3px);
        height: 69px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1682315395 svg {
        width: calc(112% + 1.3px);
        height: 23px;
    }
}
.custom-shape-divider-bottom-1682722538 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1682722538 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 154px;
}

.custom-shape-divider-bottom-1682722538 .shape-fill {
    fill: #E2D5F1;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1682722538 svg {
        width: calc(100% + 1.3px);
        height: 79px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1682722538 svg {
        width: calc(100% + 1.3px);
        height: 40px;
    }
}
/*Section 3*/
/*Shape divider app*/
.custom-shape-divider-bottom-1682723225 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1682723225 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 154px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1682723225 .shape-fill {
    fill: #DECAF8;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1682723225 svg {
        width: calc(100% + 1.3px);
        height: 77px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1682723225 svg {
        width: calc(100% + 1.3px);
        height: 39px;
    }
}
.custom-shape-divider-bottom-1682723532 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1682723532 svg {
    position: relative;
    display: block;
    width: calc(47% + 1.3px);
    height: 105px;
}

.custom-shape-divider-bottom-1682723532 .shape-fill {
    fill: #CACDF8;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1682723532 svg {
        width: calc(100% + 1.3px);
        height: 26px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1682723532 svg {
        width: calc(105% + 1.3px);
        height: 14px;
    }
}
.custom-shape-divider-top-1681841818 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
/*Section 3*/
/*Shape divider app*/
.custom-shape-divider-top-1681841818 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 40px;
    transform: rotateY(180deg);
}
/*Section 3*/
/*Shape divider app*/
.custom-shape-divider-top-1681841818 .shape-fill {
    fill: #FFFFFF;
}
.custom-shape-divider-bottom-1681920773 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-bottom-1681920773 svg {
    position: relative;
    display: block;
    width: calc(101% + 1.3px);
    height: 80px;
}
.custom-shape-divider-bottom-1681920773 .shape-fill {
    fill: #FFFFFF;
}
/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1681920773 svg {
        width: calc(100% + 1.3px);
        height: 28px;
    }
}
/*Section 3*/
/*Shape divider app*/
.custom-shape-divider-bottom-1682316226 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1682316226 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 11px;
}

.custom-shape-divider-bottom-1682316226 .shape-fill {
    fill: #DEC0D1;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1682316226 svg {
        width: calc(100% + 1.3px);
        height: 11px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1682316226 svg {
        width: calc(112% + 1.3px);
        height: 11px;
    }
}
/*Section 3*/
/*Shape divider app*/
.custom-shape-divider-bottom-1682316358 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1682316358 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 22px;
}

.custom-shape-divider-bottom-1682316358 .shape-fill {
    fill: #DDB9CD;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1682316358 svg {
        width: calc(100% + 1.3px);
        height: 22px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1682316358 svg {
        width: calc(112% + 1.3px);
        height: 17px;
    }
}
/*Section 3*/
/*Shape divider app*/
.custom-shape-divider-bottom-1682316581 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1682316581 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 32px;
}

.custom-shape-divider-bottom-1682316581 .shape-fill {
    fill: #E6B9D2;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1682316581 svg {
        width: calc(100% + 1.3px);
        height: 32px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1682316581 svg {
        width: calc(100% + 1.3px);
        height: 26px;
    }
}
/*Section 3*/
/*Shape divider app*/
.custom-shape-divider-bottom-1682316857 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1682316857 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 42px;
}

.custom-shape-divider-bottom-1682316857 .shape-fill {
    fill: #EBBED857;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1682316857 svg {
        width: calc(100% + 1.3px);
        height: 42px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1682316857 svg {
        width: calc(100% + 1.3px);
        padding-bottom: 80px;
    }
}
.landingNav {
    position: inherit;
}
.landingNav_2 {
    /*display: flex;*/
    height: 94px;
    justify-content: space-around;
    font-size: large;
    width: inherit;
}
.landingNavSignUp {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 18px;
}
.navLanLink {
    color: #000000;
}
.signUpNav {
    height: 0;
}
/*landing nav style*/
.custom-shape-divider-bottom-1682605985 {
    /*position: absolute;*/
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-top: 0;
    top: 0;
    bottom: 0;
    height: 0;
}

.custom-shape-divider-bottom-1682605985 svg {
    position: absolute;
    display: block;
    width: calc(115% + 1.3px);
    height: 34px;
}

.custom-shape-divider-bottom-1682605985 .shape-fill {
    fill: #EBD5FF;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1682605985 svg {
        width: calc(115% + 1.3px);
        height: 42px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1682605985 svg {
        width: calc(115% + 1.3px);
        height: 15px;
    }
}
.custom-shape-divider-bottom-1682607590 {
    /*position: relative;*/
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    bottom: 273px;
    top: 0;
    height: 32px;
}

.custom-shape-divider-bottom-1682607590 svg {
    position: relative;
    display: block;
    width: calc(115% + 1.3px);

    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1682607590 .shape-fill {
    fill: #C5ACF2;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1682607590 svg {
        width: calc(115% + 1.3px);
        height: 9px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1682607590 svg {
        width: calc(100% + 1.3px);
        height: 12px;
    }
}
section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 640px;
    padding: 100px 20vw;
}
#intro {
    display: flex;
    height: 15em;
    color: var(--black);
    position: relative;
    background-image: url(/static/img/hands.svg), linear-gradient(to bottom right, var(--purple), var(--bg-white));
    overflow-x: hidden;
    padding: 0;
    justify-content: center;
}
#reviews {
    color: var(--black);
    padding: 4px 0 91px 0;
    min-height: 715px;
    background-image: url(/static/img/hands.svg), linear-gradient(to bottom right, var(--bg-white), var(--purple));
    /*position: relative;*/
    /*overflow-x: hidden;*/
    /*display: flex;*/
}
#reviewsTitle{
    display: flex;
    flex-direction: column;
}
#signUp {
    color: var(--black);
    position: relative;
    background-image: url("/static/img/hands.svg"), linear-gradient(to bottom right, var(--purple), var(--bg-white));
    overflow-x: hidden;
    min-height: 349px;
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
.bi {
    height: 0;
}
.section1 {
    display: flex;
    padding: 0;
    flex-direction: column;
}
.section1_2 {
    display: flex;
}
.section1_3 {
    display: flex;
    flex-wrap: wrap;
}
.section2 {
    display: flex;
    /*min-height: 558px;*/
    /*padding-top: 30px;*/
    /*align-items: center;*/
}
.scrolling-wrapper-container:hover div {
    animation-play-state: paused;
    /*transition-delay:4s;*/
}
.scrolling-wrapper-container{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 900px;
    overflow: scroll;
    position: relative;
    height: 368px;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
}
.scrolling-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
    top: 0;
    width: 2350px;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 100%;
    animation: primary 60s linear infinite;
    /*margin: 50px 0 20px 0;*/
    /*padding-bottom: 40px;*/
    /*overflow-x: auto;*/
    /*white-space: nowrap;*/
    /*position: inherit;*/
}
.section2:before{
    content: '';
    padding: 27px 0;
    color: #3d3d3d;
    border-radius: 0px;
    text-align: center;
    margin: 4px 0 0 9px;
    display: inline-block;
    flex-shrink: 0;
    opacity: 107%;
    height: 360px;
    width: 225px;
    background: linear-gradient(93deg, rgb(228 223 237) 2%, rgb(223 217 237) 4% ,rgb(215 209 238) 9%, rgba(236,230,255,0) 100%);
    position: absolute;
    z-index: 1;
    /* top: 1px; */
    left: 7px;
    /* top: 1px; */
    /*top: 1px;*/
    /*left: -84px;*/
    /* cursor: pointer; */
    /* border: 3px solid #3d3d3d; */
    /*position: relative;*/
    /* height: 100%; */
    /* border-style: none; */
}
.section2:after{
    content:'';
    height: 79%;
    width:145px;
    background:linear-gradient(-90deg, rgb(197 189 238) 2%, rgba(255,224,255,0) 93%);
    position: absolute;
    top:20px;
    right:-5px;
    z-index:1;
}
.cardReviews {
    opacity: 94%;
    color: #3d3d3d;
    position: relative;
    margin: 0 0 0 13px;
    display: flex;
    text-align: center;
    border: 1px solid #ddd7ee;
    /* flex-shrink: 0; */
    /* cursor: pointer; */
    /* padding: 27px 0px; */
    /* border-radius: 25px; */
    /* height: 100%; */
    /* border-style: none;*/
}
.card-body-quote {
    /*padding-top: 15px;*/
}
.blockquote-footer {
    display: flex;
}
/*.primary {*/
/*    left: -20%*/
/*}*/
@keyframes primary {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes primary {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}
@keyframes secondary {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}
#paragraphI {
    /*font-family: 'Gamja Flower', cursive;*/
    font-size: large;
}
/*<!-- End of Landing page  -->*/
#communersIntroOpening {
    display: flex;
}
#paragraph1Container {
    display: flex;
}
#communersIntroSignOff {
    display: flex;
    padding-left: 800px;
}
.awards {
    padding: 20px 100px 0 100px;
    display: flex;
    justify-content: space-between;
}

/* End of Landing page test styling*/

.blink {
    animation: blink 12s infinite;
    animation-delay: 3s;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: scale(2);
    }
    51% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.blink2 {
    animation: blink 12s infinite;
    animation-delay: 7ms;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: scale(2);
    }
    51% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
/*Landing test*/
