:root {
    --pink: #F2B3D6;
    --purple: #B7AEF2;
    --dark-green: #238C6E;
    --light-green: #2BD999;
    --bg-white: #F2EEEB;
    --grey: #848282;
    --black: #000000;
}
* {
    font-family: 'Raleway', sans-serif;
}
.community-title a{
    color: var(--dark-green);
    font-family: 'Chivo Mono', monospace;
    font-weight: bold;
    font-size: 3rem;
}
.community-title a:hover{
    color: var(--dark-green);
    text-shadow: .25rem .25rem var(--pink);
}
/*#gradient {*/
/*    width: 100%;*/
/*    height: 800px;*/
/*    padding: 0px;*/
/*    margin: 0px;*/
/*}*/
body,html {
    margin: 0;
    /*font: bold 14px/1.4 'Open Sans', arial, sans-serif;*/
}
body {
    height: 100vh;
    color: var(--black);
    position: relative;
    /*background-image: url("/static/img/hands.svg"), linear-gradient(to bottom right, var(--purple), var(--bg-white));*/
    overflow-x: hidden;

}
nav, footer {
    color: var(--dark-green) !important;
}
.offcanvas-end.show {
    background-color: var(--bg-white) !important;
}

.hamburger, .chat-btn {
    font-size: 2rem  !important;
}

.closeButton {
    color: var(--black) ;
    font-size: 2rem;
}
/*button:focus, button:active, .btn:hover, .btn:active {*/
/*    outline: none !important;*/
/*    !*border: none !important;*!*/
/*    box-shadow: none !important;*/
/*    -webkit-box-shadow: none !important;*/
/*    -moz-box-shadow: none !important;*/
/*}*/

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.chat-btn,
.chat-btn:active,
.chat-btn:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}
.navbar-toggler:hover, .chat-btn:hover {
    text-shadow: .25rem .25rem var(--pink) !important;
}
.closeButton:hover {
    color: red;
    text-shadow: .25rem .25rem var(--pink);
}
.closeButton:active {
    color: red;
}
.notification {
    position: fixed;
    top: 50px;
    right: 300px;
    width: 200px;
    padding: 10px;
    background-color: #ffc0be;
    color: #3d3232;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    z-index: 9999;
    transition: top 2s;
}

.notification.show {
    top: 100px;
}

.notification.hidden {
    display: none;
}


nav {
    border-bottom: var(--grey) solid .125rem;
    background-color: var(--bg-white);

}
footer {
    border-top: var(--grey) solid .125rem;
    background-color: var(--bg-white);
}
nav a, nav .logout {
    font-size: 1.25rem;
    color: var(--dark-green);
    text-decoration: none;
}
nav a:hover, nav .logout:hover, .forgot-pw:hover, .post-link:hover {
    /*font-weight: bold;*/
    color: var(--dark-green);
    text-shadow: .125rem .125rem var(--pink);
    text-decoration: none;
}
.navbar-collapse ul {
    padding: 0;
    list-style: none;
    text-align: center;
    text-decoration: none;
}

.navbar-collapse a, .logout, .greeting, .greeting span {
    text-decoration: none;
    /*letter-spacing: 0.15em;*/
    padding: 0 1rem;
    display: inline-block;
    position: relative;
}
.navbar-collapse a:after, .logout:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    text-decoration: none;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.navbar-collapse a:hover:after, .logout:hover:after {
    text-decoration: none;
    font-family: 'Raleway', sans-serif, bold;
    /*color: var(--pink);*/
    text-shadow: .25rem .25rem var(--pink);
    width: 100%;
    left: 0;
}
.offcanvas {
    width: auto !important;
    height: auto !important;
    background-color: var(--bg-white) !important;
}
@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}
.login-card, .create-card, .sign-up-card, .edit-card, .post-card, .individual-post-card, .about-card, .profile-card, .card-community, .chat-card, .comment-card, .journal-card, .settings-card {
    box-shadow: .25rem .25rem var(--pink);
    -webkit-box-shadow: .25rem .25rem var(--pink);
    -moz-box-shadow: .25rem .25rem var(--pink);

    border: var(--dark-green) solid .125rem !important;
    background-color: var(--bg-white) !important;
}
.login-card, .sign-up-card, #message, .settings-card {
    width: 300px;
    min-height: 400px;
}
.about-card a, .resource-link {
    /*font-size: 1.25rem;*/
    color: var(--dark-green);
    text-decoration: none;
}
.chat-card a, .forgot-pw, .post-link {
    color: var(--black);
    text-decoration: none;
}
.about-card a:hover, .resource-link:hover, .chat-card a:hover {
    /*font-weight: bold;*/
    color: var(--dark-green) !important;
    text-shadow: .125rem .125rem var(--pink) !important;
    text-decoration: none !important;
}
footer h3 {
    font-size: 1.25rem;
    color: var(--dark-green);
    font-weight:bold;
}

footer li, footer p{
    color: var(--black);
    list-style:none;
    text-decoration: none;
}

footer li a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--black);
    text-transform: uppercase;
}
footer li:hover, footer li a:hover {
    /*font-weight: bold;*/
    color: var(--dark-green);
    text-shadow: .125rem .125rem var(--pink);
    text-decoration: none;
}
@media (max-width:767px) {
    footer .item:not(.social) {
        text-align:center;
        padding-bottom:20px;
    }
}

footer .item.text {
    /*margin-bottom:36px;*/
}

@media (max-width:767px) {
    footer .item.text {
        margin-bottom:0;
    }
}

footer .item.text p {
    opacity:0.6;
    margin-bottom:0;
}

footer .item.social {
    text-align:center;
}

@media (max-width:991px) {
    footer .item.social {
        text-align:center;
        margin-top:20px;
    }
}
.chat-popout {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}
footer .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    /*border-radius:50%;*/
    /*box-shadow:0 0 0 1px rgba(255,255,255,0.4);*/
    /*margin:0 8px;*/
    color: var(--dark-green);
}

footer .item.social > a:hover {
    text-shadow: .125rem .125rem var(--pink);
}

footer .copyright {
    text-align:center;
    /*padding-top:24px;*/
    /*opacity:0.3;*/
    font-size:13px;
    margin-bottom:0;
}
input.btn, a.btn, form .follow-btn {
    border: var(--dark-green) solid .125rem;
    color: var(--dark-green);
    background-color: var(--bg-white);
}
input.btn:hover, a.btn:hover, form .follow-btn:hover {
    color: var(--dark-green);
    box-shadow: .25rem .25rem var(--pink);
    -webkit-box-shadow: .25rem .25rem var(--pink);
    -moz-box-shadow: .25rem .25rem var(--pink);
}
input.btn:active, a.btn:active, form .follow-btn:active {
    background-color: var(--light-green);
    box-shadow: .25rem .25rem var(--purple);
    -webkit-box-shadow: .25rem .25rem var(--purple);
    -moz-box-shadow: .25rem .25rem var(--purple);
}
.add-commend-btn, .submit-btn {
    border: var(--dark-green) solid .125rem !important;
    color: var(--dark-green) !important;
    background-color: var(--bg-white) !important;
}
.add-commend-btn:hover, .submit-btn:hover {
    color: var(--dark-green) !important;
    box-shadow: .25rem .25rem var(--pink) !important;
    -webkit-box-shadow: .25rem .25rem var(--pink);
    -moz-box-shadow: .25rem .25rem var(--pink);

}
.add-commend-btn:active, .submit-btn:active {
    background-color: var(--light-green) !important;
    box-shadow: .25rem .25rem var(--purple);
    -webkit-box-shadow: .25rem .25rem var(--purple);
    -moz-box-shadow: .25rem .25rem var(--purple);
}
.btn-outline-danger {
    border: red solid .125rem !important;
    color: red !important;
    background-color: var(--bg-white) !important;
}
.btn-outline-danger:hover {
    color: red !important;
    background-color: var(--bg-white) !important;
    box-shadow: .25rem .25rem red !important;
    -webkit-box-shadow: .25rem .25rem red;
    -moz-box-shadow: .25rem .25rem red;
}
.btn-outline-danger:active {
    background-color: var(--pink) !important;
}

/* The message box is shown when the user clicks on the password field */
#message {
    position: absolute;
    translate: 300px;
    border: none !important;
}

#message p {
    /*padding: 10px 35px;*/
    /*font-size: 18px;*/
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: var(--dark-green);
}
.valid:before {
    /*position: relative;*/
    content: "\2713";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    /*position: relative;*/
    content: "\00d7";
}

.fa-brands, .chat-btn {
    color: var(--dark-green);
}