:root {
    --pink: #F2B3D6;
    --purple: #B7AEF2;
    --dark-green: #238C6E;
    --light-green: #2BD999;
    --bg-white: #F2EEEB;
    --grey: #848282;
    --black: #000000;
}

* {
    font-family: 'Raleway', sans-serif;
    color: var(--dark-green);
}
.community-title{
    color: var(--dark-green);
    font-family: 'Chivo Mono', monospace;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: .25rem .25rem var(--pink);

}

body,html {
    margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    /*background: #000;*/
}
body {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(to bottom right, var(--purple), var(--bg-white));
    /*background-color: var(--bg-white);*/
}
nav {
    border-bottom: var(--grey) solid .125rem;
}
footer {
    border-top: var(--grey) solid .125rem;
}
nav a, nav .logout {
    font-size: 1.25rem;
    color: var(--dark-green);
    text-decoration: none;
}
nav a:hover, nav .logout:hover {
    /*font-weight: bold;*/
    color: var(--dark-green);
    text-shadow: .125rem .125rem var(--pink);
    text-decoration: none;
}

nav,footer {
    background-color: var(--bg-white);
}
.navbar-collapse ul, .logout {
    padding: 0;
    list-style: none;
    text-align: center;
    text-decoration: none;
}
.navbar-collapse li, .logout {
    /*position: relative;*/
}

.navbar-collapse a, .logout, .greeting, .greeting span {
    color: var(--dark-green);
    /*text-shadow: .25rem .25rem var(--pink);*/
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    padding: 0 1rem;
    display: inline-block;
    position: relative;
}
.navbar-collapse a:after, .logout:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    /*background: #ffffff;*/
    text-decoration: none;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.navbar-collapse a:hover:after, .logout:hover:after {
    text-decoration: none;
    font-family: 'Raleway', sans-serif, bold;
    /*color: var(--pink);*/
    text-shadow: .25rem .25rem var(--pink);
    width: 100%;
    left: 0;
}
@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}
.login-card, .create-card, .sign-up-card, .edit-card, .individual-post-card {
    width: 300px;
    height: 400px;

    box-shadow: .25rem .25rem var(--pink);
    -webkit-box-shadow: .25rem .25rem var(--pink);
    -moz-box-shadow: .25rem .25rem var(--pink);

    border: var(--dark-green) solid .125rem !important;
    /*background-image: linear-gradient(to bottom right, var(--light-green), var(--bg-white)) !important;*/
    background-color: var(--bg-white) !important;

}
footer h3 {
    font-size: 1.25rem;
    color: var(--dark-green);
    font-weight:bold;
}

footer li{
    list-style:none;
    text-decoration: none;
}

footer li a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--dark-green);
    text-transform: uppercase;
}
footer li:hover, footer li a:hover {
    /*font-weight: bold;*/
    color: var(--dark-green);
    text-shadow: .125rem .125rem var(--pink);
    text-decoration: none;
}
@media (max-width:767px) {
    footer .item:not(.social) {
        text-align:center;
        padding-bottom:20px;
    }
}

footer .item.text {
    /*margin-bottom:36px;*/
}

@media (max-width:767px) {
    footer .item.text {
        margin-bottom:0;
    }
}

footer .item.text p {
    opacity:0.6;
    margin-bottom:0;
}

footer .item.social {
    text-align:center;
}

@media (max-width:991px) {
    footer .item.social {
        text-align:center;
        margin-top:20px;
    }
}

footer .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    /*border-radius:50%;*/
    /*box-shadow:0 0 0 1px rgba(255,255,255,0.4);*/
    /*margin:0 8px;*/
    color: var(--dark-green);
}

footer .item.social > a:hover {
    text-shadow: .125rem .125rem var(--pink);
}

footer .copyright {
    text-align:center;
    /*padding-top:24px;*/
    /*opacity:0.3;*/
    font-size:13px;
    margin-bottom:0;
}
input.btn {
    border: var(--dark-green) solid .125rem;
    color: var(--dark-green);
    background-color: var(--bg-white);
}
input.btn:hover {
    color: var(--dark-green);
    box-shadow: .25rem .25rem var(--pink);

}