<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head th:replace="~{/partials/partials :: head}">
    <title>About</title>
</head>
<body class="d-flex flex-column">
<nav class="pb-3" th:replace="~{/partials/partials :: navbar}" ></nav>
<div class="container d-flex flex-column flex-grow-1">
    <h1>About us</h1>
    <section>
        <h1>about us sections</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur fugit harum magnam minima modi molestias quo
            rerum sed! Neque, quisquam?</p>
    </section>
    <section>
        <h1>about us sections</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur fugit harum magnam minima modi molestias quo
            rerum sed! Neque, quisquam?</p>
    </section>
    <section>
        <h1>about us sections</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur fugit harum magnam minima modi molestias quo
            rerum sed! Neque, quisquam?</p>
    </section>
    <section>
        <h1>about us sections</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur fugit harum magnam minima modi molestias quo
            rerum sed! Neque, quisquam?</p>
    </section>
</div>
<footer class="" th:replace="~{/partials/partials :: footer}"></footer>
</body>
</html>