<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <th:block th:insert="partials/partials :: head"></th:block>
    <title>About</title>
</head>
<body class="d-flex flex-column">
<nav class="pb-3" th:replace="~{/partials/partials :: navbar}" ></nav>
<div class="container d-flex flex-column flex-grow-1">
    <div class="alert alert-danger" th:if="${errMsg}">
        Something bad happened!
    </div>
    <h1>About Us</h1>
    <p class="lead">
        Communers, Inc. is a lean three-person development team located in San Antonio, Texas. We aspire to improve the digital platforms we occupy by leveraging emerging technologies and open source tools.

        Meet our team:
    </p>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/img/alexschmerber.jpg" class="img-fluid rounded-start" alt="portrait">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Alex Schmerber</h5>
                    <p class="card-text">Email: alex.g.schmerber@gmail.com</p>
                    <p class="card-text">LinkedIn: <a href="https://www.linkedin.com/in/alex-schmerber-41462225a/">https://www.linkedin.com/in/alex-schmerber-41462225a/</a></p>
                    <p class="card-text">GitHUb: <a href="https://github.com/AlexSchmerber">https://github.com/AlexSchmerber</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/img/edgardoortizjr.jpg" class="img-fluid rounded-start" alt="portrait">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Edgardo Ortiz, Jr.</h5>
                    <p class="card-text">Email: edgardo.ortiz.jr11@gmail.com</p>
                    <p class="card-text">LinkedIn: <a href="https://www.linkedin.com/in/edgardo-ortiz-jr-56830120a/">https://www.linkedin.com/in/edgardo-ortiz-jr-56830120a/</a></p>
                    <p class="card-text">GitHUb: <a href="https://github.com/gardoJr873">https://github.com/gardoJr873</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/img/jeremymwood.jpg" class="img-fluid rounded-start" alt="portrait">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Jeremy Wood</h5>
                    <p class="card-text">Email: jeremy.mason.wood@gmail.com</p>
                    <p class="card-text">LinkedIn: <a href="https://www.linkedin.com/in/jeremy-mason-wood/">linkedin.com/in/jeremy-mason-wood/</a></p>
                    <p class="card-text">GitHUb: <a href="https://github.com/jeremymwood">https://github.com/jeremymwood</a></p>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="row h-100 align-content-center my-auto pb-3">-->
<!--        <div class="col-4 g-3">-->
<!--            <div class="card shadow h-100" style="">-->
<!--                <img src="/static/img/jeremymwood.jpg" class="card-img-top headshot 100h 100w" alt="portrait">-->
<!--                <div class="card-body d-flex flex-column">-->
<!--                    <h4 class="card-title">Jeremy Wood</h4>-->
<!--                    <h6>Email: jeremy.mason.wood@gmail.com</h6>-->
<!--                    <h6>LinkedIn: <a href="https://www.linkedin.com/in/jeremy-mason-wood/">linkedin.com/in/jeremy-mason-wood/</a></h6>-->
<!--                    <h6>GitHUb: <a href="https://github.com/jeremymwood">https://github.com/jeremymwood</a></h6>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
<footer th:replace="~{/partials/partials :: footer}"></footer>
</body>
</html>