<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <th:block th:insert="~{partials/partials :: head}"></th:block>
    <title>About</title>
</head>
<body class="d-flex flex-column" id="gradient">
<nav class="pb-3" th:replace="~{/partials/partials :: navbar}" ></nav>
<div class="container d-flex flex-column flex-grow-1">
    <div class="alert alert-danger" th:if="${errMsg}">
        Something bad happened!
    </div>
    <h1>About Us</h1>
    <p class="lead">
        Communers, Inc. is a lean three-person development team located in San Antonio, Texas.
        <br>
        We aspire to improve the digital platforms we occupy by leveraging emerging technologies and open source tools.
        <br><br>
        Meet our team:
    </p>
    <div class="d-flex my-auto">
        <div class="col-sm-12 col-md-4">
            <div class="card about-card mb-3">
                <div class="card-bg opacity-50 flex-grow-1"></div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/alexschmerber.jpg" class="img-fluid rounded-start" alt="portrait">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title mt-auto">Alex Schmerber</h5>
                            <p class="card-text"><i class="fa-solid fa-envelope"></i> alex.g.schmerber@gmail.com</p>
                            <p class="about-link"><i class="fa-brands fa-linkedin"></i> <a href="https://www.linkedin.com/in/alex-schmerber-41462225a/">linkedin.com/in/alex-schmerber-41462225a/</a></p>
                            <p class="about-link"><i class="fa-brands fa-github"></i> <a href="https://github.com/AlexSchmerber">github.com/AlexSchmerber</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card about-card mb-3">
                <div class="card-bg opacity-50 flex-grow-1"></div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/edgardoortizjr.jpg" class="img-fluid rounded-start" alt="portrait">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Edgardo Ortiz, Jr.</h5>
                            <p class="card-text"><i class="fa-solid fa-envelope"></i> edgardo.ortiz.jr11@gmail.com</p>
                            <p class="about-link"><i class="fa-brands fa-linkedin"></i> <a href="https://www.linkedin.com/in/edgardo-ortiz-jr-56830120a/">linkedin.com/in/edgardo-ortiz-jr-56830120a/</a></p>
                            <p class="about-link"><i class="fa-brands fa-github"></i> <a href="https://github.com/gardoJr873">github.com/gardoJr873</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card about-card mb-3">
                <div class="card-bg opacity-50 flex-grow-1"></div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/jeremymwood.jpg" class="img-fluid rounded-start" alt="portrait">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Jeremy Wood</h5>
                            <p class="card-text"><i class="fa-solid fa-envelope"></i> jeremy.mason.wood@gmail.com</p>
                            <p class="about-link"><i class="fa-brands fa-linkedin"></i> <a href="https://www.linkedin.com/in/jeremy-mason-wood/">linkedin.com/in/jeremy-mason-wood/</a></p>
                            <p class="about-link"><i class="fa-brands fa-github"></i> <a href="https://github.com/jeremymwood">github.com/jeremymwood</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{/partials/partials :: footer}"></footer>
<script src="/js/background.js"></script>
</body>
</html>