<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head th:replace="~{/partials/partials :: head}">
    <title>Resources</title>
</head>
<body>
<nav class="pb-3" th:replace="~{/partials/partials :: navbar}" ></nav>
<section>
    <h1>Resources</h1>
    <div>
        <a href="#"><span>Resource 1</span></a>
    </div>
    <div>
        <a href="#"><span>Resource 2</span></a>
    </div>
    <div>
        <a href="#"><span>Resource 3</span></a>
    </div>
    <div>
        <a href="#"><span>Resource 4</span></a>
    </div>
    <div>
        <a href="#"><span>Emergency Resource</span></a>
    </div>
</section>
<footer class="" th:replace="~{/partials/partials :: footer}"></footer>
</body>
</html>