<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <th:block th:insert="~{partials/partials :: head}"></th:block>
    <title>Resources</title>
</head>
<body class="d-flex flex-column" id="gradient">
<nav class="pb-3" th:replace="~{/partials/partials :: navbar}" ></nav>
<div class="container d-flex flex-column flex-grow-1">
    <div class="alert alert-danger" th:if="${errMsg}">
        Something bad happened!
    </div>
    <div class="row h-100 d-flex justify-content-center align-items-center my-auto pb-3">
        <div class="col-sm-12 col-md-6 g-3">
            <div class="card comment-card h-100" style="">
                <div class="card-bg opacity-25 flex-grow-1"></div>

                <div class="card-body d-flex flex-column">
                    <h1>Resources</h1>
                    <div>
                        <h6 class="fw-bold">Crisis Text Line</h6>
                        <p class="ps-2">
                            Text <b>HOME</b> to <b>741741</b>. Free, 24/7 support for those in crisis. Text <b>TX</b> to <b>741741</b> from anywhere in the U.S. to reach a trained crisis counselor.
                        </p>
                    </div>
                    <div>
                        <h6 class="fw-bold">2-1-1</h6>
                        <p class="ps-2">
                            Connects people with the resources they need across Texas.
                        </p>
                    </div>
                    <div>
                        <h6 class="fw-bold">Family Based Support Programs</h6>
                        <p class="ps-2">
                            Family counseling, crisis intervention, parenting classes, substance abuse treatment, and more.
                            <a class="fw-bold resource-link" href="https://www.dfps.texas.gov/Child_Protection/Family_Support/">dfps.texas.gov/Child_Protection/Family_Support/</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="" th:replace="~{/partials/partials :: footer}"></footer>
<script src="/js/background.js"></script>
</body>
</html>