<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="~{partials/partials :: head}"></th:block>
    <title>Settings</title>
</head>
<body class="d-flex flex-column" id="gradient">
<nav class="pb-3" th:replace="~{/partials/partials :: navbar}" ></nav>
    <div class="container d-flex justify-content-center align-items-center flex-grow-1">
        <div class="alert alert-danger" th:if="${errMsg}">
            Something bad happened!
        </div>
        <div class="row h-100 d-flex justify-content-center align-items-center my-auto pb-3" sec:authorize="isAuthenticated()">
            <div class="col-sm-12 col-lg-4 g-3">
                <div class="card settings-card h-100 mx-auto" sec:authorize="isAuthenticated()">
                    <div class="card-bg opacity-25 flex-grow-1"></div>
                    <div class="card-body d-flex flex-column">
                        <h5>Preferences</h5>
                        <div th:if="${param.error}">
                            Invalid Username and Password.
                        </div>
                        <div class="settings" sec:authorize="isAuthenticated()">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
                                <label class="form-check-label" for="flexSwitchCheckDefault">Custom greetings</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="switch-notifications" checked>
                                <label class="form-check-label" for="switch-notifications">In-Site Notifications</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDisabled">
                                <label class="form-check-label" for="flexSwitchCheckDisabled">Privacy</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="lightMode" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    Light Mode
                                </label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="darkMode">
                                <label class="form-check-label" for="exampleRadios2">
                                    Dark Mode
                                </label>
                            </div>
                        </div>
                        <form class="mt-auto" th:action="@{/user/delete}" method="post">
                            <button class="btn btn-sm btn-outline-danger me-auto mt-auto" type="submit">Delete Account</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 g-3">
                <div class="card settings-card h-100 mx-auto" sec:authorize="isAuthenticated()">
                    <div class="card-bg opacity-25 flex-grow-1"></div>
                    <div class="card-body d-flex flex-column">
                        <h5>User information</h5>
                        <div th:if="${param.error}">
                            Invalid Username and Password.
                        </div>
                        <div class="settings" sec:authorize="isAuthenticated()">
                            <form class="d-flex flex-column" th:action="@{/user/edit}" th:object="${user}" method="post">

                                <label for="username">Username</label>
                                <input id="username" th:field="*{username}" required/>

                                <label for="first_name">First Name</label>
                                <input id="first_name" th:field="*{first_name}" required/>

                                <label for="last_name">Last Name</label>
                                <input id="last_name" th:field="*{last_name}" required/>

                                <label for="email">Email</label>
                                <input id="email" th:field="*{email}" required/>

                                <label for="psw">Password</label>
                                <input type="password" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" th:field="*{password}" th:value="*{null}" required>

                                <input class="btn btn-sm mt-3 me-auto" value="Submit" type="submit" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 g-3">
                <div class="password-validation p-3 h-100 mx-auto" id="message">
                    <div class="d-flex flex-column">
                        <h4>Password must contain the following:</h4>
                        <p id="letter" class="invalid fs-5">A <b>lowercase</b> letter</p>
                        <p id="capital" class="invalid fs-5">A <b>capital (uppercase)</b> letter</p>
                        <p id="number" class="invalid fs-5">A <b>number</b></p>
                        <p id="length" class="invalid fs-5">Minimum <b>8 characters</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<footer class="" th:replace="~{/partials/partials :: footer}"></footer>
<script src="/js/password.js"></script>

<script src="/js/background.js"></script>
</body>
</html>