<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/partials/partials :: head}">
    <title>Settings</title>
</head>
<body class="d-flex flex-column">
<nav class="pb-3" th:replace="~{/partials/partials :: navbar}" ></nav>
<div class="container d-flex flex-column flex-grow-1 justify-content-center align-items-center">
    <div class="card shadow login-card" style="">
        <div class="card-body d-flex flex-column">
            <h1>Settings</h1>
            <div th:if="${param.error}">
                Invalid Username and Password.
            </div>
            <div class="settings" sec:authorize="isAuthenticated()">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
                    <label class="form-check-label" for="flexSwitchCheckDefault">Custom greetings</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Push Notifications</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDisabled">
                    <label class="form-check-label" for="flexSwitchCheckDisabled">Privacy</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="lightMode" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Light Mode
                    </label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="darkMode">
                    <label class="form-check-label" for="exampleRadios2">
                        Dark Mode
                    </label>
                </div>
            </div>
        </div>

    </div>

</div>
<footer class="" th:replace="~{/partials/partials :: footer}"></footer>
</body>
</html>