<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="~{partials/partials :: head}"></th:block>
    <title>Community</title>
</head>
<body class="d-flex flex-column" id="gradient">

    <nav class="pb-3" th:replace="~{/partials/partials :: navbar}" ></nav>

<!--    <form class="d-flex flex-column ps-3" th:action="@{|/community/${community.id}|}" method="post">-->
<!--        <div class="d-flex">-->
<!--            <i class="backButton fa-solid fa-arrow-left fs-3 ms-4 mt-4"></i>-->
<!--            <h1 class="page-title mx-auto mt-4" th:text="${community.name}" style="font-weight: bold">(insert community name)</h1>-->
<!--            <div class="row abs-follow w-100 me-0">-->
<!--                <div class="col-sm-12 offset-lg-3 col-lg-6">-->
<!--                    <button class="btn btn-sm follow-btn me-0 mt-3 px-1 py-0" style="position:absolute;top:0;right:0" type="submit">Follow</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-sm-12 offset-lg-3 col-lg-6">-->
<!--                <div class="d-flex flex-column">-->
<!--                    <div class="blog-menu small-title" th:text="${community.bio}"></div>-->
<!--&lt;!&ndash;                    <button class="btn btn-sm follow-btn ms-3 px-1 py-0 my-auto" type="submit">Follow</button>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->

    <form class="d-flex flex-column ps-3" th:action="@{|/community/${community.id}|}" method="post">
        <h1 class="page-title mx-auto mt-4" th:text="${community.name}" style="font-weight: bold">(insert community name)</h1>
        <div class="d-flex mx-auto">
            <div class="blog-menu small-title" th:text="${community.bio}"></div>
<!--            <button class="btn btn-sm follow-btn ms-3 px-1 py-0 my-auto" type="submit">Follow</button>-->
            <div class="ms-auto" th:attr="dataset-id=${community.id}">
                <button type="button" th:text="${community.users.contains(loggedInUser) ? 'Unfollow' : 'Follow'}" class="btn btn-sm follow-btn followButton py-0 ms-2 my-auto">(Follow Button)</button>
            </div>
        </div>

    </form>

    <div class="row mb-auto mt-3 px-3 pb-3 g-3">
        <div class="alert alert-danger" th:if="${errMsg}">
            Something bad happened!
        </div>
        <div class="col-sm-12 offset-lg-3 col-lg-6"  th:each="post : ${communityPosts}">
            <div class="d-flex flex-column">
                <div class="card card-community h-100" style="">
                    <div class="card-bg opacity-50 flex-grow-1"></div>
                    <div class="card-body d-flex flex-column">
                        <div class="d-flex">
                            <h3 class="card-title pt-1" th:text="${post.title}">(insert post title)</h3>
                            <form class="ms-auto ms-2" th:action="@{|/follow/${post.getId()}|}" method="post">
                                <span class="ms-auto my-auto" th:text="${post.user.username}">(Post user here)</span>
                                <button class="btn btn-sm follow-btn my-auto py-0  ms-2 my-auto followButton" type="submit">Follow</button>
                            </form>
                        </div>
                        <div class="blog-article py-1 ms-2" th:text="${post.body}">(insert post body)</div>

                        <div class="d-flex">
                            <div class="blog-menu small-title date me-auto mt-2 ms-2" th:text="${post.time}"></div>
                            <a class="btn btn-sm read-more-btn mt-2 py-0 ms-auto" th:href="@{|/post/${post.id}/comments|}">Read more...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--comment-->
<footer class="mt-auto" th:replace="~{/partials/partials :: footer}"></footer>
<script src="/js/background.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
