<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="partials/partials :: head"></th:block>
    <title>Communities</title>
</head>
<body class="d-flex flex-column" id="gradient" data-page="communities">
    <nav class="pb-3" th:replace="~{/partials/partials :: navbar}" ></nav>

    <div class="d-flex flex-column mb-auto">
        <div class="row align-content-center px-3">
            <div class="col-sm-12 col-lg-3 mt-3">
                <div class="d-flex">
                    <div th:if="${communities.size() != 0}">
                        <div class="d-flex flex-column my-auto">
                            <a class="btn btn-sm mx-3 my-auto community-btn py-0" th:href="@{|/communities/discover|}">Explore Communities</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="d-flex">
                    <h1 class="page-title mx-auto mt-4" style="font-weight: bold">Your Communities</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-12 offset-lg-3 col-lg-6">
            <th:block th:insert="~{/partials/partials :: communities}"></th:block>
        </div>
    </div>
<!--<script src="/js/communities.js"></script>-->
<footer th:replace="~{/partials/partials :: footer}"></footer>
<script src="/js/background.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
