<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="partials/partials :: head"></th:block>
    <title>Communities</title>
</head>
<body class="d-flex flex-column" id="gradient" data-page="communities">
    <nav class="pb-3" th:replace="~{/partials/partials :: navbar}" ></nav>
    <h1 class="page-title mx-auto mt-4">Your Communities</h1>
    <a class="btn btn-secondary" th:href="@{|/communities/discover|}">Explore Communities</a>
    <th:block th:insert="~{/partials/partials :: communities}"></th:block>
    <footer th:replace="~{/partials/partials :: footer}"></footer>
<script src="/js/background.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
