<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="partials/partials :: head"></th:block>
    <title>Communities</title>
</head>
<body class="d-flex flex-column" id="gradient" data-page="communities">
    <nav class="pb-3" th:replace="~{/partials/partials :: navbar}" ></nav>
    <div class="d-flex">
        <i class="backButton fa-solid fa-arrow-left fs-3 ms-4 mt-4"></i>
        <h1 class="page-title mx-auto mt-4">Your Communities</h1>
    </div>
    <a class="btn btn-sm mx-auto my-3 community-btn py-0" th:href="@{|/communities/discover|}">Explore Communities</a>
    <div class="row">
        <div class="col-sm-12 offset-lg-3 col-lg-6">
            <th:block th:insert="~{/partials/partials :: communities}"></th:block>
        </div>
    </div>
<footer class="mt-auto" th:replace="~{/partials/partials :: footer}"></footer>
<script src="/js/background.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
